* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}
.hero {
  background: linear-gradient(45deg, #09001f, #30197d);
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: #fff;
}
.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
}
.container::before {
  background: rgb(255, 1, 86);
  width: 200px;
  height: 200px;
  position: absolute;
  left: -50px;
  content: " ";
  border-radius: 5px;
  top: -60px;
  transform: rotate(45deg);
  z-index: -1;
}
.container::after {
  background: rgb(20, 211, 93);
  width: 200px;
  height: 200px;
  position: absolute;
  right: -50px;
  content: " ";
  border-radius: 50%;
  bottom: -50px;
  z-index: -1;
}
.clock span {
  font-size: 70px;
  width: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
}
h1 {
  font-size: 18px;
  display: block;
  text-align: center;
  position: relative;
  top: -60px;
  left: 300px;
  opacity: 0.5;
}
.hour::after {
  content: "HOURS";
  font-size: 20px;
  position: absolute;
  right: -30px;
  transform: translateX(-100%);
  bottom: -30px;
}
.min::after {
  content: "MINUTES";
  font-size: 20px;
  position: absolute;
  right: -70px;
  transform: translateX(-100%);
  bottom: -30px;
}
.sec::after {
  content: "SECONDS";
  font-size: 20px;
  position: absolute;
  right: -70px;
  transform: translateX(-100%);
  bottom: -30px;
}
